.container-general {
  @apply mx-auto w-[88%];
  @screen tablet {
    @apply w-[94%] px-8;
  }
  @screen laptop {
    @apply w-[80%];
    max-width: calc(143rem * var(--scale));
    padding-left: calc(2rem * var(--scale));
    padding-right: calc(2rem * var(--scale));
  }
}
