@import './atoms';
@import './organisms';
@import './molecules';
@import './ui';
@import 'container.css';
@import 'icons.css';
@import 'scale.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  font-size: 62.5%;
  
}

*{
  @apply font-primary;
}
body {
  @apply bg-[#060922];
  font-size: 1.5rem ;
  @screen laptop {
    font-size: max(1.4rem, calc(1.9rem * var(--scale)));
  }

  &.no-scroll {
    @apply overflow-hidden;
  }
}

textarea {
  resize: none;
}

textarea,
select,
input {
  @apply border-none bg-none;
  &:focus {
    outline: none;
  }
}

.main-page {
  animation-name: fadeIn;
  animation-duration: 0.6s;
  animation-timing-function: ease-in;
  background-image: var(--bg-img);
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
