/** @format */

.especialidadCard {
	@apply  border-[1px] border-secondary rounded-2xl text-white p-8 flex flex-col gap-2 relative;
	@screen laptop{
		width: calc(40rem * var(--scale));
	}
	&:hover {
		

		& > .especialidadCard__logo {
			@apply opacity-30;
            img{
                @apply scale-125;
                filter: sepia(10%);
            }
		}
	}
	&__logo {
		@apply w-full h-full absolute left-0 top-0 z-[-1] opacity-25 overflow-hidden;
		img {
			@apply w-full h-full;
            
            transition: transform 0.5s ease-in-out;
		}
	}

	&__title {
		h1 {
			@apply text-[2.3rem] tabletxl:text-[2.1rem] laptop:text-[2.7rem] pb-3 font-semibold;
			@screen laptop{
				font-size: calc(2.7rem * var(--scale));
				
			}
		}
		p {
			max-height: 20rem;
			overflow: hidden;
			text-overflow: ellipsis;
			display: -webkit-box;
			-webkit-box-orient: vertical;
			-webkit-line-clamp: 4;
            color:white;
			@screen laptop {
				font-size: calc(1.9rem * var(--scale));
				max-height: calc(28rem * var(--scale));
				-webkit-line-clamp: 6;
			}
		}
	}

	&__button {
		@apply font-semibold w-fit text-secondary laptop:text-[2rem];
	}

	
}
