/** @format */

.testimonioCard {
	@apply flex gap-[2rem] relative z-[20] flex-col items-center;

	&__perfil {
		@apply w-[8rem] h-[8rem] border-[0.3rem] border-secondary rounded-full overflow-hidden;
		img {
			@apply object-top;
		}
	}

	&__comentario {
		@apply flex items-center text-[1.7rem] text-center italic w-[24rem] h-[22rem]  leading-[2.5rem];
		p{
			@apply text-white;
		}
	}
	&__footer {
		&__text {
			@apply flex flex-col text-white items-center gap-[1.5rem];

			&__name {
				@apply text-[2.2rem] font-[500];
			}
			&__job {
				@apply text-[1.6rem] font-[400];
			}
		}
	}

	@screen laptop {
		gap: calc(2rem * var(--scale));

		&__perfil {
			width: calc(11rem * var(--scale));
			height: calc(11rem * var(--scale));
            border-width:  calc(0.5rem * var(--scale));
		}

		&__comentario {
			@apply  w-full;
            font-size: calc(2.4rem * var(--scale));
            height: calc(25rem * var(--scale));
            line-height: calc(3.2rem * var(--scale));


		}
		&__footer {
			&__text {
				
                gap: calc(2.3rem * var(--scale));
				&__name {
                    font-size: calc(2.8rem * var(--scale));
				}
				&__job {
                    font-size: calc(2.1rem * var(--scale));
				}
			}
		}
	}
}
