/** @format */

.admisionConvenios {
	@apply bg-[#4920A7]/30 relative py-[6rem];

	&__container {
		&__title {
			@apply text-[#D4D2FF] text-[1.9rem] uppercase text-center;
			@screen laptop {
				font-size: calc(2.8rem * var(--scale));
			}
		}
		&__logoCards {
			@apply flex py-[4rem] justify-center gap-10;
			@screen laptop {
				padding: calc(6rem * var(--scale)) 0;
			}

			&__thumb {
				@apply bg-white h-[12rem] px-[2rem] w-[20rem];

				@screen laptop {
					width: calc(30rem * var(--scale));
					height: calc(18rem * var(--scale));
				}
			}
		}
	}
}
