.admisionBeneficios {
    @apply px-[6%] w-full pt-[4rem] pb-[6rem] relative ;
    background: rgba(73, 32, 167, 0.2);
    &__containerTitle {
        @apply text-center mb-8;}
	&__containerThumb {
		@apply w-full grid grid-cols-2 gap-y-[2rem] gap-x-[1.8rem];
	}

	@screen laptop {
		@apply flex p-0 items-center w-full ;
		padding-right: calc(5rem * var(--scale));
		height: calc(40rem * var(--scale));
		&__containerTitle {
			@apply h-full w-[45%] mb-0 flex items-center;
			&-title {
                @apply text-left;
				margin-left: calc(9rem * var(--scale));
				padding-left: calc(5rem * var(--scale));
				h2 {
					@apply text-white font-[500] ;
					width: calc(50rem * var(--scale));
					&:before {
						@apply left-0;
						background: linear-gradient(90deg, #509415 50%, #fff 50%);
						left: calc(18rem * var(--scale));
					}
				}
			}
			&::before {
				background: rgba(72, 32, 167, 0.3);
				content: '';
				position: absolute;
				width: 45%;
				height: 100%;
				top: 0;
				clip-path: polygon(0 0, 100% 0%, 78% 100%, 0% 100%);
			}
		}

		&__containerThumb {
			@apply w-[45%] mx-auto grid-cols-4 ;
			gap: 0;
		}
	}
}