/** @format */

.admisionEspecialidades {
	@apply py-[2rem] relative z-50;

	&__container {
		@apply flex flex-col gap-5;

		&__text {
			@apply text-[#d6d6d6];
		}

		&__cards {
			@apply flex flex-col gap-10 w-[100%];

			@screen laptop {
				@apply grid grid-cols-3 gap-20;
			}
		}
	}

	&-slider {
		@apply w-[100%] mx-auto;
	}
	&__navigation {
		@apply relative mt-[1rem] flex items-center justify-center gap-[1rem];

		z-index: 1;
		&-next,
		&-prev {
			@apply text-white h-[5rem] w-[5rem] flex items-center justify-center rounded-full;
		}
	}
	@screen tablet {
		&__container {
			&__text {
				@apply text-center;
			}
		}
		&-slider {
			width: 100%;
		}
	}

	@screen laptop {
		@apply py-[8rem] relative z-50;

		&__container {
			&__text {
				@apply text-center w-1/2 mx-auto;
			}
		}
		&-slider {
			margin-top: calc(2rem * var(--scale));
			width: 96%;
			&-thumb {
				@apply relative cursor-pointer;
				&-image {
					@apply relative cursor-pointer;
					width: calc(48rem * var(--scale));
					height: calc(48rem * var(--scale));
					& > img {
						@apply h-full w-full object-cover object-center;
					}
				}
			}
		}
		&__navigation {
			@apply absolute mt-[1rem] justify-between w-[78%];
			trasnform: translateY(-50%);
			transform: translateX(-50%);
			top: 52%;
			left: 50%;
			z-index: 1;
			pointer-events: none;
			&-next,
			&-prev {
				@apply text-white  hover:scale-125 transition-all  cursor-pointer;
				width: calc(7.7rem * var(--scale));
				height: calc(7.7rem * var(--scale));
				pointer-events: auto;
				i {
					@apply font-extralight;
					font-size: calc(2rem * var(--scale));
				}
			}
		}
	}

	
}