.Navbar {
  padding-top: 8rem;
  padding-bottom: 2rem;
  border-radius: 0 0 1.5rem 1.5rem;
  transform: translateY(-120%);
  transition: transform 0.3s ease;
  z-index: 100;
  width: 100%;
  @apply fixed top-0 right-0  bg-secondary;

  @screen tablet {
    transform: translateY(0%);
    transform: translateX(150%);
    transition: transform 0.5s ease;
    width: 60%;
    height: 100vh;
    border-radius: 0;
  }

  &.isActive {
    transform: translateY(0%);

    @screen tablet {
      transform: translateX(0);
    }

    @screen laptop {
      transform: translateY(0);
    }
  }

  &-ctn {
    @apply px-[1.8rem];

    @screen tablet {
      @apply px-[2.4rem];
    }

    @screen laptop {
      @apply px-0;
    }
  }

  &-socials {
    @apply absolute top-[1.9rem] right-[7.7rem] flex gap-[1.38rem];
    i {
      @apply text-[2.54rem] text-primary;
    }

    @screen laptop {
      @apply hidden;
    }
  }

  &-logo {
    @apply flex w-[18.2rem] h-[2.97rem] absolute left-[1.8rem] top-[1.9rem];

    @screen tablet {
      @apply w-[23.8rem] h-[3.89rem];
    }

    @screen laptop {
      @apply hidden;
    }
  }

  &-ul {
    @apply flex flex-col gap-[0.3rem] px-[0.9rem] pt-[1.3rem];
    border-top: 1px solid white;

    @screen tablet {
      @apply gap-[0.5rem] pt-[2.4rem];
    }

    a:last-child {
      display: none;
    }

    &-li {
      @apply relative cursor-pointer capitalize text-white font-normal text-[1.6rem] leading-[2.56rem] rounded-[0.5rem] py-[0.7rem] px-[1.6rem] pl-[4.3rem];
      transition: color 0.5s ease;
      text-decoration: none;
      background: rgba(69, 114, 85, 0.2);

      @screen tablet {
        @apply py-[1rem] pl-[4.7rem];
      }

      &::before {
        content: '';
        position: absolute;
        height: 0.5rem;
        width: 0.5rem;
        top: 1.7rem;
        left: 2.7rem;
        background-color: white;
        @apply rounded-full;

        @screen tablet {
          top: 2rem;
          left: 3rem;
        }

        @screen laptop {
          @apply hidden;
        }
      }

      &.isActive {
        @apply font-semibold;
        @screen laptop {
          @apply font-medium;

          &::after {
            @apply bg-secondary rounded-full;
            content: '';
            position: absolute;
            bottom: calc(-1rem * var(--scale));
            height: 7px;
            width: 7px;
            opacity: 1;
          }
        }
      }
    }
  }

  @screen laptop {
    @apply static inset-auto rounded-xl p-0 mx-auto flex items-center justify-start transform-none bg-transparent;
    height: calc(6rem * var(--scale));
    width: calc(150rem * var(--scale));
    &-ctn {
      @apply flex justify-end items-center h-full;
      margin-left: calc(33rem * var(--scale));

      a {
        @apply h-full flex items-center;
      }

      .Navbar-ul {
        @apply flex flex-row justify-start items-center m-0 p-0 h-full;
        gap: calc(5.8rem * var(--scale));

        a:nth-last-child(2) {
          li {
            border: 1.5px solid #ee7220;
            height: calc(3.94rem * var(--scale));
            padding-inline: calc(3rem * var(--scale));
            @apply text-[#EE7220] font-semibold;
            transition: all 0.3s ease-in-out;

            &::after {
              @apply hidden;
            }

            &:hover {
              @apply bg-[#F49C1A] text-white;
              border: 1.5px solid #f49c1a;
            }
          }
        }

        &-li {
          @apply p-0 font-normal text-[#454545] relative flex justify-center h-full items-center;
          background: none;
          font-size: calc(1.5rem * var(--scale));
          &::after {
            @apply bg-primary rounded-[2rem];
            content: '';
            position: absolute;
            bottom: 0;
            height: calc(0.5rem * var(--scale));
            width: calc(4.4rem * var(--scale));
            opacity: 0;
            transition: all 0.3s ease;
          }
          &.isActive {
            &::after {
              opacity: 1;
            }
          }

          &:hover {
            &::after {
              opacity: 1;
            }
          }
        }
      }
    }
  }
}
